h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 3em;
    color: peru;
    font-family:'Berkshire Swash', cursive;
}

.hero {
    background-image: url('./Images/hero.jpg');
    background-size: cover;
    background-position: 20% 50%;
    margin-top: 100px;
    height: 500px;
    opacity: 0.95;;
}



button {
    position: relative;
    margin-top: 200px;
}

#quote-container {
    text-align: center;
}

