#high-score, 
#clothes,
#default,
#city,
#lottery,
#user {
    display: none;
}


#errorFood,
#errorOutfit,
#errorCity,
#errorAction,
#errorName,
#high-score,
#default {
    display: none;
}


body {
    font-family: cursive;
}

.wrapper {
    margin: 200px;
    background: rgb(255, 211, 166);
}

h1, h2 {
    color: rgb(0, 131, 131);
}